<div class="container">
  <div class="content is-medium is-narrow">
    <div style="display:inline-block">
      <div><p> </p></div>
			<% @article.comments.each do |comment| %>
		    <article class="media has-text-white">
		      <div class="media-left">
	          <p class="image is-64x64">
		          <%= image_tag "AnonymousCommenter2.png"%>
		        </p>
			    </div>
			    <div class="media-content">
						<p><strong><%= comment.commenter %></strong></p>
						<p><%= comment.body %></p>
						<small><p><%= link_to 'Remove Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are You sure?'} %></p></small>
					</div>
				</article>
			<% end %>
    </div>
  </div>
</div>
