<div class="has-background-dark" style="background: rgba(0, 0, 0, 0.85); border-radius: 50px;>
	<section class="hero">
	  <div class="hero-body">
	    <p class="title  has-text-white">
	      Witam w pisadle
	    </p>
	    <p class="subtitle has-text-white">
	      Jest to otwarty blog, w którym można publikować co się chce.
	    </p>
	  </div>
	  <div class="hero-footer">
	  	<p></p>
	  </div>
	</section>
</div>